<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iCurrency.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3A4DDBC1F5019890074DDE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A4DDD01F50198A0074DDE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A4DDDB1F50198A0074DDE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
